{% load static%}
<section class="about-section section-padding about-2" id='about'>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center col-lg-10 offset-lg-1">
                <div class="section-title-two">
                    <h2>About Me</h2>
                    <p>Freelance Graphic & Web Designer</p>
                </div>
            </div>
         </div>
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                 <div class="main-profile-img">
                    <img src="{% static 'assets/img/main_profile.png' %}" alt="profile image">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-12">
                <div class="about-content">
                    <h1>{{ personal_info.name }}</h1>
                    <h5>Freelance Designer & Developer</h5>
                    <p>Maborisum ipsum dolor seat ameat consecteturerslmore il elite consecteture.Contrary to populabelief, Lorem Ipsum is notil sirand. It’s more consecteture elite.</p>

                    <div class="row mt-5">
                        <div class="personal-info col-12 row">
                            <div class="data heading col-4">
                                <p>Birthday</p>
                                <p>Age</p>
                                <p>Email</p>
                                <p>Address</p>
                                <p>Phone</p>
                            </div>
                            <div class="data col-6">
                                <p>14 July, 1990</p>
                                <p>30 Year</p>
                                <p>example@mail.com</p>
                                <p>Torento, Canada</p>
                                <p>+090- 12345- 7890</p>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="theme-btn">+ Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</section>