{% load static%}
<section class="about-section section-padding about-2" id='about'>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center col-lg-10 offset-lg-1">
                <div class="section-title-two">
                    <h2>{{ about.title}}</h2>
                    <p>{{ about.sub_title}}</p>
                </div>
            </div>
         </div>
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                 <div class="main-profile-img">
                    <img src="/media/{{ about.image }}" alt="profile image">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-12">
                <div class="about-content">
                    <h1>{{ about.another_intro_title }}</h1>
                    <h5>{{ about.another_intro_sub_title }}</h5>
                    <p>{{ about.another_para }}</p>

                    <div class="row mt-5">
                        <div class="personal-info col-12 row">
                            {{ about.frontend_backend|safe }}
                            
                        </div>
                    </div>

                    <a href="#" class="theme-btn">+ Hire Me</a>
                </div>
            </div>
        </div>
    </div>
</section>

