{% load static %}
<section class="blog-section section-padding pt-0" id='blog'>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 pr-5 col-md-5 col-sm-12">
                <div class="section-title-two text_left">
                    <h2>Get News</h2>
                    <p>Here I’ll Share Some of My Work Experience and also Some Tips & Tricks</p>
                </div>
                
                <div class="carousel_nav"></div>
            </div> <!-- /.single-service -->
            <div class="col-lg-8 col-md-7 col-sm-12">
                <div class="blog-carousel-active owl-carousel owl-theme">
                    <div class="single-blog blog-one">
                        <div class="featured-img" style="background-image: url('{% static 'assets/img/blog2.jpg' %}');"></div>
                        <div class="blog-content-box">
                            <div class="post-date">02 January 2021,  Sunday</div>
                            <h3><a href="single-blog.html">Top 10 Tips For Branding</a></h3>

                            <a href="single-blog.html" class="read-more-btn">+ Read More</a>
                        </div>
                    </div>
                    <div class="single-blog blog-one">
                        <div class="featured-img" style="background-image: url('{% static 'assets/img/blog1.jpg' %}');"></div>
                        <div class="blog-content-box">
                            <div class="post-date">02 January 2021,  Sunday</div>
                            <h3><a href="single-blog.html">UI Design Best Courses</a></h3>

                            <a href="single-blog.html" class="read-more-btn">+ Read More</a>
                        </div>
                    </div>
                    <div class="single-blog blog-one">
                        <div class="featured-img" style="background-image: url('{% static 'assets/img/blog2.jpg' %}');"></div>
                        <div class="blog-content-box">
                            <div class="post-date">02 January 2021,  Sunday</div>
                            <h3><a href="single-blog.html">Top 10 Tips For Branding</a></h3>

                            <a href="single-blog.html" class="read-more-btn">+ Read More</a>
                        </div>
                    </div>
                    <div class="single-blog blog-one">
                        <div class="featured-img" style="background-image: url('{% static 'assets/img/blog2.jpg' %}');"></div>
                        <div class="blog-content-box">
                            <div class="post-date">02 January 2021,  Sunday</div>
                            <h3><a href="single-blog.html">Top 10 Tips For Branding</a></h3>

                            <a href="single-blog.html" class="read-more-btn">+ Read More</a>
                        </div>
                    </div>
                    <div class="single-blog blog-one">
                        <div class="featured-img" style="background-image: url('{% static 'assets/img/blog1.jpg' %}');"></div>
                        <div class="blog-content-box">
                            <div class="post-date">02 January 2021,  Sunday</div>
                            <h3><a href="single-blog.html">Top 10 Tips For Branding</a></h3>

                            <a href="single-blog.html" class="read-more-btn">+ Read More</a>
                        </div>
                    </div>
                </div>
            </div> <!-- /.single-service -->
        </div>
    </div>
</section>