{% load static %}
<section class="contact-info-top" id='contact'>
    <div class="container">
        <div class="row text-center contact-top">
            <div class="single-info col-md-4 col-12">
                <h4>Address :</h4>
                <span>201 House Road, Torento Canada</span>
            </div>               
            <div class="single-info col-md-4 col-12">
                <h4>eMail :</h4>
                <span>example@email.com</span>
            </div>
            <div class="single-info col-md-4 col-12">
                <h4>Phone :</h4>
                <span>+888- 1234- 5678- 00</span>
            </div>
        </div>
    </div>
</section>
<section class="contact-section section-padding theme-bg-gray" style="background-image: url('{% static 'assets/img/testimonial_bg.png' %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 mt-5 text-center text-lg-left">
                <div class="section-title-two text_left">
                    <h2>Need To asking any Quations Call Me or Message me.</h2>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibhl
                        consecteture elite more.</p>
                </div>
            </div>
            <div class="col-12 col-lg-7 offset-lg-1">
                <div class="contact-form-wraper">
                    <form action="#" class="row">
                        <div class="col-md-6 col-12">
                            <div class="single-input">
                                <input type="text" placeholder="Spruce Springlane">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="single-input">
                                <input type="email" placeholder="Type Email Here">
                            </div>
                        </div>
                        <div class="col-md-12 col-12">
                            <div class="single-input">
                                <textarea placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="theme-btn">+ Mesage Me</button>
                        </div>
                    </form>
                </div>
            </div> <!-- col-12 col-lg-8 -->
        </div>          
    </div>
</section>