{% load static %}
<section class="skills-experiance-resume section-padding" id="resume">
    <div class="container">
      <div class="row">
         <div class="col-12 text-center col-lg-10 offset-lg-1">
             <div class="section-title-one">
                 <span>My resume</span>
                 <h2>High Skilled Provide High Quality </h2>
             </div>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-7 col-12">
              <div class="resume-timeline-wraper mt-5">
                  <div class="row">

                      <div class="col-sm-3">
                         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-edu-tab" data-toggle="pill" href="#v-pills-edu" role="tab" aria-controls="v-pills-edu" aria-selected="true">Education</a>
                            <a class="nav-link" id="v-pills-job-tab" data-toggle="pill" href="#v-pills-job" role="tab" aria-controls="v-pills-job" aria-selected="false">Experience</a>
                            <a class="nav-link" id="v-pills-awards-tab" data-toggle="pill" href="#v-pills-awards" role="tab" aria-controls="v-pills-awards" aria-selected="false">Awards</a>
                         </div>
                      </div>

                      <div class="col-sm-9">
                         <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-edu" role="tabpanel" aria-labelledby="v-pills-edu-tab">
                                <div class="single-resume-item">
                                    <div class="year">
                                        <span>2002-2006</span>
                                    </div>
                                    <h3>Graphic Design</h3>
                                    <h5>Springlean Graphic University</h5>
                                    <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                                </div>
                                <div class="single-resume-item">
                                    <div class="year">
                                        <span>2008-20011</span>
                                    </div>
                                    <h3>Frontend Development</h3>
                                    <h5>University of Udemy</h5>
                                    <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliquam sodales. Phasellus sed mauris hendrerit, laoreet sem in.</p>
                                </div>
                                <div class="single-resume-item">
                                    <div class="year">
                                        <span>20015-2020</span>
                                    </div>
                                    <h3>B.Sc. in Computer Science & Engineering</h3>
                                    <h5>Daffodil International University</h5>
                                    <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-job" role="tabpanel" aria-labelledby="v-pills-job-tab">
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2008-2011</span>
                                  </div>
                                  <h3>Junior Ui/Ux Designer</h3>
                                  <h5>ITTALKBD</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2014-2019</span>
                                  </div>
                                  <h3>WordPress Developer</h3>
                                  <h5>Fiveer</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2019-Current</span>
                                  </div>
                                  <h3>Full Stack Developer</h3>
                                  <h5>KeenDevs</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-awards" role="tabpanel" aria-labelledby="v-pills-awards-tab">
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2015</span>
                                  </div>
                                  <h3>Best UI Designer</h3>
                                  <h5>Google Awarads - 2015</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2017</span>
                                  </div>
                                  <h3>Best Online Freelancer</h3>
                                  <h5>SOFTTECH IT Awarads - 2017</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                              <div class="single-resume-item">
                                  <div class="year">
                                      <span>2020</span>
                                  </div>
                                  <h3>Product Dev Awarads</h3>
                                  <h5>Basic IT Awarads - 2020</h5>
                                  <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                              </div>
                            </div>
                         </div>
                      </div>
                   </div>

              </div>
         </div>
         <div class="col-lg-5 col-12">
            <div class="programming-skill mt-5">
               <h3>Coding Skills</h3>

               <div class="single-progress-bar">
                <p>HTML & CSS</p>
                 <div class="progress-bar barfiller" id='bar1'>                      
                   <div class="tipWrap wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".2s">
                      <span class="tip">90%</span>
                   </div>
                   <span class="fill wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".2s" data-percentage="90"></span>
                 </div>
               </div>
               
               <div class="single-progress-bar">
                <p>JavaScript</p>
                 <div class="barfiller progress-bar" id='bar2'>                      
                   <div class="tipWrap wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s">
                      <span class="tip">80%</span>
                   </div>
                   <span class="fill wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".4s" data-percentage="80"></span>
                 </div>
               </div>

               <div class="single-progress-bar">
                <p>WordPress</p>
                 <div class="barfiller progress-bar" id='bar3'>                      
                   <div class="tipWrap wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".6s">
                      <span class="tip">92%</span>
                   </div>
                   <span class="fill wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".6s" data-percentage="92"></span>
                 </div>
               </div>

               <div class="single-progress-bar">
                <p>React JS</p>
                 <div class="barfiller progress-bar" id='bar4'>                      
                   <div class="tipWrap wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".8s">
                      <span class="tip">75%</span>
                   </div>
                   <span class="fill wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".8s" data-percentage="75"></span>
                 </div>
               </div>
            </div>

            <div class="design-skills mt-45">
              <h3>Design Skills</h3>
              <div class="row">
                  <div class="single-design-skill text-center col-sm-4 col-12">
                      <div class="circlechart" data-percentage="90"></div>
                      <p>Web Design</p>
                  </div>
                  <div class="single-design-skill text-center col-sm-4 col-12">
                      <div class="circlechart" data-percentage="80"></div>
                      <p>Print Design</p>
                  </div>
                  <div class="single-design-skill text-center col-sm-4 col-12">
                      <div class="circlechart" data-percentage="75"></div>
                      <p>App Design</p>
                  </div>
              </div>
            </div>
         </div>
      </div>
    </div>
 </section>