{% load static %}
<section class="testimonial-section section-padding" style="background-image: url('{% static 'assets/img/testi_bg.png' %}');" id="testimonial">
    <div class="container">
        <div class="row">                
            <div class="col-12 col-md-10 offset-md-1">
                <div class="testimonial-box-active text-center owl-carousel owl-theme">
                    <div class="single-testimonial-item">
                       <div class="client-img" style="background-image: url('{% static 'assets/img/client1.png' %}');"></div>
                        <div class="client-info">
                            <h3>Rachel Dowson</h3>
                            <span>Creative Arts</span>
                        </div>
                        <p>Maborisum ipsum dolor seat ameat consecteturerslmore be elite consecteture.Contrary to populabelief, Lorem Ipsum is not sirand. It’sto mo more.</p>
                    </div>
                    <div class="single-testimonial-item">
                       <div class="client-img" style="background-image: url('{% static 'assets/img/profile.png' %}');"></div>
                        <div class="client-info">
                            <h3>Salman Ahmed</h3>
                            <span>React Developer</span>
                        </div>
                        <p>Maborisum ipsum dolor seat ameat consecteturerslmore be elite consecteture.Contrary to populabelief, Lorem Ipsum is not sirand. It’sto mo more.</p>
                    </div>
                    <div class="single-testimonial-item">
                       <div class="client-img" style="background-image: url('{% static 'assets/img/client2.png' %}');"></div>
                        <div class="client-info">
                            <h3>Isabella Dowson</h3>
                            <span>CEO of WPLand</span>
                        </div>
                        <p>Maborisum ipsum dolor seat ameat consecteturerslmore be elite consecteture.Contrary to populabelief, Lorem Ipsum is not sirand. It’sto mo more.</p>
                    </div>
                    <div class="single-testimonial-item">
                       <div class="client-img" style="background-image: url('{% static 'assets/img/client1.png' %}');"></div>
                        <div class="client-info">
                            <h3>Rachel Dowson</h3>
                            <span>Creative Arts</span>
                        </div>
                        <p>Maborisum ipsum dolor seat ameat consecteturerslmore be elite consecteture.Contrary to populabelief, Lorem Ipsum is not sirand. It’sto mo more.</p>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</section>